Django>=5.2
django-allauth
django-environ
django-formtools
django-mysql
django-otp
django-qr-code
django-two-factor-auth
Pillow
pyotp
qrcode
requests
pyjwt
cryptography
cryptography
openai
python-dateutil
django-environ
